<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/view/static/layui/css/layui.css}">
    <script th:src="@{/view/static/layui/layui.js}" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
<div style=" display: flex;align-items: center">
    <div style="width: 30%;"><img th:src="@{/view/static/images/logo.png}"></div>
    <div style="width: 40%; display: flex";>
        <div style="width: 80%"><input type="text" style="width: 100%;border:solid red 2px;height: 32px"></div>
        <div style="width: 10%;border: solid red;color: white;background-color: red;height: 32px;text-align: center">搜索</div>
    </div>
    <div style="margin-left:160px;cursor:pointer;width: 10%;color:  red;text-align: center;padding: 10px 20px;border: solid lightgray 1px;background: whitesmoke" ><a th:href="@{/pages/front/shopCar/}" >我的购物车</a></div>
    <div style="margin-left:10px;cursor:pointer;width: 5%;text-align: center;padding: 10px 20px;border: solid lightgray 1px;background: whitesmoke" ><a th:href="@{/pages/front/loginPage}">登录</a></div>
</div>
<div style="display: flex">
<div style="margin-left: 293px;font-size:19px;color: red;font-weight:bold">全部商品</div>
<div style="font-size:12px;color: red;font-weight:bold;margin-left: 60px">商品</div>
<div style="font-size:12px;color: red;font-weight:bold;margin-left:272px">单价</div>
<div style="font-size:12px;color: red;font-weight:bold;margin-left:96px">数量</div>
    <div style="font-size:12px;color: red;font-weight:bold;margin-left: 117px">总计</div>

</div>


<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md2">
            <form th:id="selectedList" th:action="@{/pages/front/order/addpre}" method="post">
                <input th:id="selectedListItem" type="hidden" name="selectedListItem">
                <input th:id="totalMoney" type="hidden" name="totalMoney">
             </form>
        </div>
        <div class="layui-col-md8" style="margin-left:180px;">
            <div id="shopCarVo_list" th:value="${shopCarVo_list}"></div>
            <div style="margin-top: 20px" th:each="x:${shopCarVo_list}">
                <div style="border:lavenderblush solid 2px;display: flex;height: 100px">
                    <input th:id="'check-'+${x.shopCarId}" style="margin-top: 10px;margin-left: 5px" type="checkbox"/>
                    <div style="margin-left: 20px;margin-top: 10px">
                        <img th:src="@{{filename}(filename=${x.goods.img})}" style="height: 80px;width: 80px"/>
                    </div>
                    <div style="margin-left: 20px;margin-top: 10px" th:text="${x.goods.title}">
                    </div>
                    <div  style="margin-left: 100px;margin-top: 10px" th:text="${x.goods.price}">
                    </div>
                    <div  style="margin-left:  100px;margin-top: 10px" th:text="${x.count}">
                    </div>
                    <div th:id="'price-'+${x.shopCarId}" th:value="${x.totalMoney}" style="margin-left: 120px;margin-top: 10px;margin-right: 27px" th:text="${x.totalMoney}">
                    </div>
                </div>

            </div>
            <div style="display: flex;margin-bottom: 10px;position:fixed; bottom:0;height: 50px;border: red solid;">
                <input th:value="1" id="selectAll" style="margin-top: 6px;margin-left: 14px;margin-top: 3px;margin-top: 16px" type="checkbox"/>
                <div  style="margin-left: 5px;font-size:5px;color: red;font-weight:bold;margin-top: 14px">全选</div>
                <div style="font-size:12px;color: red;font-weight:bold;margin-left:350px;margin-top: 14px">已选择<span id="counts" style="font-size: 15px;margin-left: 6px" th:text="0"></span></div>
                <div style="font-size:12px;color: red;font-weight:bold;margin-left: 100px;margin-top: 14px">总计<span id="totalMoneys" style="margin-left: 6px;font-size: 17px"></span></div>
                <div style="font-size:20px;color: white;background:red;padding-top:7px;font-weight:bold;margin-left: 100px;margin-top:0px;margin-right: 0px;padding-left: 7px;padding-right: 7px"><a th:id="suan" >去结算</a></div>


            </div>
        </div>


        <div class="layui-col-md2">

        </div>
    </div>
</div>

</body>
<script th:inline="javascript">
    $("#selectAll").click(function () {
        if($("#selectAll").val()==1)
        {
            this.checked =true;
            $("[id^=check-]").each(function () {
                this.checked = true;

            });
            $("#selectAll").val(2)
        }else {
            $("[id^=check-]").each(function () {
                this.checked = false;
                $("#selectAll").val(1)
            });
        }


    });

    $("[id^=check-],#selectAll").change(function () {
        var s = 0;
        var t = 0;
        $("[id^=check-]").each(function () {
            if(this.checked===true)
            {
                var d=$(this).attr("id").split("-")[1];
                console.info(d);
                $("[id^=price-]").each(function () {
                    // alert();
                    if(d==$(this).attr("id").split("-")[1])
                    {
                        t= t + parseInt($(this).attr("value"))
                    }

                });

                s =s+1;
            }
        });
        $("#counts").empty();
        $("#counts").text(s);
        $("#totalMoneys").text(t);
        $("#totalMoney").attr("value",t);

        var selectList =[];
        var item ={};
        $("[id^=check-]").each(function () {
            if(this.checked==true)
            {
                var k = $(this).attr("id").split("-")[1];
                var w = $("#shopCarVo_list").attr("value");
                var d = eval("("+[[${array}]]+")");
                console.info(d);
                for(var i=0;i<d.length;i++)
                {
                     if(d[i].shopCarId == k)
                     {
                         selectList.push(d[i]);

                     }

                }

                // var t = eval('('++')')
            }

        });
        console.info(selectList);
        $("#selectedListItem").attr("value", JSON.stringify(selectList));
        console.info($("#selectedListItem").attr("value"));

    });

$("#suan").click(function () {
    $("#selectedList").submit();
})

</script>
</html>